<div ng-controller="editrefereeController" ng-init="getRefereesByTournament()">
    <form name="deleterefereeForm">
        <div class="row">
            <div class="col-lg-3">
                <label>Delete referee:</label>
            </div>
            <div class="col-lg-6">
                <select class="col-lg-6 selectpicker dropdown form-control" data-style="btn-primary" ng-model="deleterefereeselected" ng-options="item as item.Surname + ' , ' + item.Name for item in refereesByTournamentData"></select>
            </div>
        </div>
        <button ng-disabled="deleterefereeForm.$invalid" type="button" class="btn btn-lg btn-info" ng-click="deleteReferee()">Delete referee</button>
    </form>
</div>