<div ng-controller="editrefereeController" ng-init="getRefereesByTournament()">
    <div class="row">
        <label class="col-lg-3">Select referee:</label>
        <select class="col-lg-6 selectpicker dropdown form-control" data-style="btn-primary" ng-model="detailrefereeselected" ng-options="item as item.Surname + ' , ' + item.Name for item in refereesByTournamentData">
            <optgroup label="Select team:"></optgroup>
        </select>
    </div>
    <div class="row">
        <label class="col-lg-3">Name:</label>
        <p class="col-lg-6"> {{detailrefereeselected.Name}}</p>
    </div>
    <div class="row">
        <label class="col-lg-3">Surname:</label>
        <p class="col-lg-6"> {{detailrefereeselected.Surname}}</p>
    </div>
</div>