<div ng-controller="editrefereeController">
    <label>Update referee:</label>
    <div>
        <p>Match select dropdown</p>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <p>Date picker</p>
        </div>
        <div class="col-lg-6">
            <p>Time picker</p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <p>Team one select dropdown</p>
        </div>
        <div class="col-lg-6">
            <p>Team two select dropdown</p>
        </div>
    </div>
    <div>
        <p>Referee select dropdown</p>
    </div>
</div>