<div ng-controller="editteamController" ng-init="getTeamDataByTournament()">
    <form name="deleteteamform">
        <div class="row">
            <label class="col-lg-3">Delete team:</label>
            <div>
                <select class="col-lg-6 selectpicker dropdown form-control" data-style="btn-primary" ng-model="selectedTeamDeleteItem" ng-options="item as item.Name for item in getTeamDataByTournament">
                    <optgroup label="Select team to update:"></optgroup>
                </select>
            </div>
        </div>
        <button ng-disabled="deleteteamform.$invalid" type="button" class="btn btn-lg btn-info" ng-click="deleteTeam()">Delete</button>
    </form>
</div>