<div ng-controller="editmatchController">
        <label>Add new match:</label>
        <br />
        <div class="row">
            <div class="col-lg-6">
                    <label>Select match date and time:</label>
                    <adm-dtp ng-model="datetime" options='{format: "YYYY-MM-DD hh:mm"}'></adm-dtp>
            </div>
            <div class="col-lg-6">
                    <label>Select match referee: </label>
                    <p>Referee select dropdown</p>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-lg-6">
                <p>Team one select dropdown</p>
            </div>
            <div class="col-lg-6">
                <p>Team two select dropdown</p>
            </div>
        </div>
        <div>
           
        </div>
</div>