<div ng-controller="mytournamentsController" class="container" ng-init="getSelectedTournament()">
    <br />
    <br />
    <h2 class="well">EDIT {{getSelectedTournament.Name}} TOURNAMENT</h2>
    <div class="row well">
        <div class="form-group col-lg-4">
            <label>Select category to edit:</label>
            <div>
                <select class="selectpicker dropdown form-control" data-style="btn-primary" ng-model="route.selectedRoute" ng-change="changeState(route.selectedRoute)">
                    <option value="editmytournament.team">Team</option>
                    <option value="editmytournament.player">Player</option>
                    <option value="editmytournament.referee">Referee</option>
                    <option value="editmytournament.match">Match</option>
                    <option value="editmytournament.result">Result </option>
                </select>
            </div>
            <br />
            <button class="btn-default btn btn-info" ng-click="generateSchedule()">Generate schedule</button>
        </div>
        <br />
        <div class="form-group" col-lg-8" ui-view="editcategory">

        </div>
    </div>
    <br />
</div>