<div class="container"  ng-controller="galleryController" ng-init="getImages()">
    
    <h2 class="well">TOURNAMENTS GALLERY:</h2>
  
    <br />

    <div class=""  ng-if="isCurrentSlideIndex($index)" ng-show="loaded" ng-repeat="slide in slides" >
        <h2 class="well">Description: {{slide.Description}}</h2>

        <img bg-image class="center-block fullBggallery {{currentAnimation}}"
             ng-src="{{slide.Url}}" />

    </div>

    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
</div>