<div class="container" ng-controller="mytournamentsController" ng-init="getMyTournaments()">
    <h2 class="well">MY TOURNAMENTS:</h2>
    <br />
    <table class="table table-responsive table-hover table-bordered table-striped well" ng-show="!tournamentNotAdded">
        <thead>
            <tr>
                <th>
                    Start Date
                </th>
                <th>
                    End Date
                </th>
                <th>
                    Type
                </th>
                <th>
                    Name
                </th>
                <th>
                    Location
                </th>
                <th>
                    Edit
                </th>
            </tr>
        </thead>
        <tbody ng-repeat="item in myTournamentData">
            <tr>
                <td ng-bind="item.StartTime | date:'yyyy-dd-MM'">
                    {{item.StartTime}}
                </td>
                <td ng-bind="item.EndTime | date:'yyyy-dd-MM'">
                    {{item.EndTime}}
                </td>
                <td>
                    {{item.Type}}
                </td>
                <td>
                    {{item.Name}}
                </td>
                <td>
                    {{item.Locations[0].Place}}
                </td>
                <td>
                    <a class="btn btn-lg btn-info" ui-sref="editmytournament({tournamentId: item.Id})">Edit</a>
                </td>
            </tr>
        </tbody>
    </table>

    <h3 class="well" ng-show="tournamentNotAdded">You haven't add any tournament</h3>
</div>