<div class="container" ng-controller="tournamentsController" ng-init="getAllTournaments()">
    <br />
    <br />
    <h2 class="well">ALL TOURNAMENTS:</h2>
    <br />
    <table class="table table-responsive table-hover table-bordered table-striped well">
        <thead>
            <tr>
                <th>
                    Start Date
                </th>
                <th>
                    End Date
                </th>
                <th>
                    Type
                </th>
                <th>
                    Name
                </th>
                <th>
                    Location
                </th>
            </tr>
        </thead>
        <tbody ng-repeat="item in tournamentData">  
            <tr>
                <td ng-bind="item.StartTime | date:'yyyy-dd-MM'">
                    {{item.StartTime}}
                </td>
                <td ng-bind="item.EndTime | date:'yyyy-dd-MM'">
                    {{item.EndTime}}
                </td>
                <td>
                    {{item.Type}}
                </td>
                <td>
                    {{item.Name}}
                </td>
                <td>
                    {{item.Locations[0].Place}}
                </td>
                <td>
                    <a class="btn btn-lg btn-info" ui-sref="detailstournament({tournamentId: item.Id, reloaded: false})" ui-sref-opts="{reload: true}">Details</a>
                </td>
            </tr>
        </tbody>
    </table>
    <a class="btn btn-lg btn-info" ng-click="addTournament()">Create new tournament</a>
</div>