<div class="container" ng-controller="tournamentsController" ng-init="getAllTournaments()">
    <h2 class="well">ALL TOURNAMENTS:</h2>
    <br />
        <form class="well">
            <div class="row">
                <label>Search by name:  <input ng-model="search.Name" /></label>
            </div>
        </form>
        <br />
        <table class="table table-responsive table-hover well">
            <thead>
                <tr>
                    <th ng-click="sort('Name')">
                        <span class="glyphicon sort-icon" ng-show="sortKey=='Name'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                        Name
                    </th>
                    <th ng-click="sort('Type')">
                        <span class="glyphicon sort-icon" ng-show="sortKey=='Type'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                        Type
                    </th>
                    <th ng-click="sort('StartTime')">
                        <span class="glyphicon sort-icon" ng-show="sortKey=='StartTime'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                        Start Date
                    </th>
                    <th ng-click="sort('EndTime')">
                        <span class="glyphicon sort-icon" ng-show="sortKey=='EndTime'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                        End Date
                    </th>
                    <th ng-click="sort('Locations[0].Place')">
                        <span class="glyphicon sort-icon" ng-show="sortKey=='Locations[0].Place'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                        Location
                    </th>
                    <th>
                        Details
                    </th>
                </tr>
            </thead>
            <!--  filter:{Name: search} - search by name -->
            <tbody>
                <tr  dir-paginate="item in tournamentData | toArray:false | orderBy:sortKey:reverse | filter: {Name: search.Name} | itemsPerPage:5">
                    <td>
                        {{item.Name}} 
                    </td>
                    <td>
                        {{item.Type}}
                    </td>
                    <td ng-bind="item.StartTime | date:'yyyy-MM-dd'">
                        {{item.StartTime}}
                    </td>
                    <td ng-bind="item.EndTime | date:'yyyy-MM-dd'">
                        {{item.EndTime}}
                    </td>
                    <td>
                        {{item.Locations[0].Place}}
                    </td>
                    <td>
                        <a class="btn btn-lg btn-info btn-xs" ui-sref="detailstournament({tournamentId: item.Id, reloaded: false})" ui-sref-opts="{reload: true}">Details</a>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="pull-right">
            <dir-pagination-controls class="right"
                                     max-size="5"
                                     direction-links="true"
                                     boundary-links="true">
            </dir-pagination-controls>
        </div>
        <a class="btn btn-lg btn-info" ng-click="addTournament()">Create new tournament</a>
</div>