<div ng-controller="editplayerController" ng-init="getTeamDataByTournament()">
    <form name="addplayerform">
        <label>Add new player:</label>
        <div class="row col-lg-12">
            <div class="col-lg-3">
                <label>Player's team:</label>
            </div>
            <div class="col-lg-6">
                <select class="selectpicker dropdown form-control" data-style="btn-primary" ng-model="teamselected" ng-options="item as item.Name for item in getTeamDataByTournament" required>
                </select>
            </div>
        </div>
        <div class="row col-lg-12">
            <div class="col-lg-3">
                <label>Name:</label>
            </div>
            <div class="col-lg-6">
                <input type="text" placeholder="Enter Player Name Here.." class="form-control" required ng-model="addPlayerData.Name" />
            </div>
        </div>
        <div class="row col-lg-12">
            <div class="col-lg-3">
                <label>Surname:</label>
            </div>
            <div class="col-lg-6">
                <input type="text" placeholder="Enter Player Surname Here.." class="form-control" required ng-model="addPlayerData.Surname" />
            </div>
        </div>
        <button ng-disabled="addplayerform.$invalid" type="button" class="btn btn-lg btn-info" ng-click="addPlayer()">Add player</button> 
    </form>
</div>