<div ng-controller="editplayerController">
    <label>Add new player:</label>
    <div class="row">
        <div class="col-lg-6">
            <p>Date picker</p>
        </div>
        <div class="col-lg-6">
            <p>Time picker</p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <p>Team one select dropdown</p>
        </div>
        <div class="col-lg-6">
            <p>Team two select dropdown</p>
        </div>
    </div>
    <div>
        <p>Referee select dropdown</p>
    </div>
</div>