<div ng-controller="editresultController" ng-init="getMatchDataByTournament()">
    <form name="addresultform">
        <label>Add new result:</label>
        <div class="row col-lg-12">
            <div class="col-lg-3">
                <label>Select match:</label>
            </div>
            <div class="col-lg-6">
                <select class="col-lg-6 selectpicker dropdown form-control" data-style="btn-primary" ng-model="addresultmatchselected" ng-options="item as item.Team.Name + ' vs. ' + item.Team1.Name for item in matches">
                </select>
            </div>
        </div>
        <div class="row col-lg-12">
            <div class="col-lg-6">
                <label>Team {{addresultmatchselected.Team.Name}} goals:</label>
            </div>
            <div class="col-lg-6">
                <input type="number" min="0" max="100" placeholder="Enter Number Of Goals Here..." class="form-control" required ng-model="addResultData.TeamOneGoals" />
            </div>
        </div>
        <div class="row col-lg-12">
            <div class="col-lg-6">
                <label>Team {{addresultmatchselected.Team1.Name}} goals:</label>
            </div>
            <div class="col-lg-6">
                <input type="number" min="0" max="100" placeholder="Enter Number Of Goals Here..." class="form-control" required ng-model="addResultData.TeamTwoGoals" />
            </div>
        </div>
        <button ng-disabled="addresultform.$invalid" type="button" class="btn btn-lg btn-info" ng-click="addResult()">Add result</button>
    </form>
</div>